<form class="ui large form segment">
  <h3 class="ui header">Add a Link</h3>

  <div class="field">
    <label for="title">Title:</label>
    <!-- Binding input to the variable newtitle with #newtitle
       called a resolved-->
    <input name="title" id="title" #newtitle />
  </div>
  <div class="field">
    <label for="link">Link:</label>
    <!-- Binding input to the variable newlink with #newlink
     called a resolved -->
    <input name="link" id="link" #newlink />
  </div>
  <!-- newtitle and newlink args come from #newtitle and 
  #newlink resolve in upper input tags-->
  <button
    (click)="addArticle(newtitle, newlink)"
    class="ui positive right floated button"
  >
    Submit Link
  </button>
</form>

<div class="ui grid posts">
  <!-- [article] bind app-article tags with the value article on @input
  of the ArticleComponent-->
  <app-article *ngFor="let article of sortedArticles()" [article]="article">
  </app-article>
</div>
